<appSettings>

  <add key="Modules" value="MultiCompany,MultiLocation,Proforma,Sales,Challan,CEO,PurchaseOrder,Purchase,Cashbook,ExpenseManagement,CMS,AMC,TeleCalling,Ticket,DMS,ChannelManagement,MailChimp,IVR,IndiaMART,JustDial,TradeIndia,Facebook" />

  <add key="Users" value="100" />

  <add key="NOUsers" value="100" />

  <add key="Daterange" value="09/27/2025-09/27/2026" />

  <add key="Requestkey" value="K1CI-JQ1UU-G1LPX-NC1XH-TWCQY-GHYW" />

  <add key="Activationkey" value="ED9I-ONKU1-NHM1R-YQNSR-WDUMX-1W2RK-FOFA5-WQQPZ-QXTMSDA" />

  <add key="EndDate" value="09/27/2026" />

</appSettings>


