@import "site.mixins.less";


.s-Toolkit-MasterSupressionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Toolkit-ClientSupressionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Toolkit-OpenCampaignDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Toolkit-TalCampaignDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Toolkit-DemandayCompetitorDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Toolkit-DemandaySpecsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}