<?xml version="1.0"?>
<appSettings>
<add key = "Modules" value = "MultiCompany,MultiLocation,Proforma,Sales,Challan,CEO,PurchaseOrder,Purchase,Cashbook,ExpenseManagement,CMS,AMC,TeleCalling,Ticket,DMS,ChannelManagement,MailChimp,IVR,IndiaMART,JustDial,TradeIndia,Facebook" />
<add key = "Users" value = "100" />
<add key = "NOUsers" value = "100" />
<add key = "Daterange" value = "09/22/2025-09/22/2026" />
<add key = "Requestkey" value = "RMPH-JIF8E-JXPIW-GCYMKMW" />
<add key = "Activationkey" value = "RTII-7L2VI-C6GD0-KDWA3-M6SVG-KW7RI-CAM1G-OIUWG-Y5OY4GG" />
<add key = "EndDate" value = "09/22/2026" />
</appSettings>
